* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* h5 {
  padding-top: 1%;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
}

body,
input,
select,
textarea,
button {
  font-family: "Pretendard", sans-serif;
}

.book_slide {
  height: 420px;
  margin: 0 auto;
  position: relative;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
}
.swiper .swiper-wrapper {
  padding-bottom: 20px;
}

.swiper:not(:first-child) {
  display: none;
}

.swiper-slide {
  height: 338px;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  cursor: pointer;
}
.swiper-slide h5 {
  width: 100%;
  color: #444;
  height: 10%;
}
.swiper-slide p {
  width: 100%;
  font-size: 14px;
  color: #777;
  height: 10%;
}

.swiper-slide img {
  display: block;
  width: 95%;
  height: 289px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px 8px 8px 3px;
  box-shadow: 5px 0px rgba(189, 189, 189, 0.637);
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-pagination {
  width: 100%;
  height: 10px;
}

:root {
  --swiper-theme-color: #343434 !important;
}

.title {
  display: flex;
  height: 35px;
  margin-bottom: 8px;
}
.title h2 {
  color: #222;
}
.title span {
  line-height: 40px;
  font-size: 14px;
  color: #333;
  margin-left: 20px;
}

.catagory_tab {
  width: 100%;
  height: 48px;
  margin-bottom: 10px;
  color: #888;
}
.catagory_tab ul {
  display: flex;
  width: 100%;
  height: 100%;
}
.catagory_tab li {
  text-align: center;
  padding: 10px;
  margin-top: 8px;
  margin-right: 8px;
  cursor: pointer;
  border-radius: 20px;
  background-color: #eee;
  font-size: 14px;
}
.catagory_tab li.active {
  background-color: green;
  color: #eee;
}

#main {
  width: 100%;
  height: 470px;
  margin-bottom: 50px;
  position: relative;
  background-color: rgb(192, 218, 134);
}

#mainNav {
  width: 100%;
  height: 40px;
}

#m_Nav {
  width: 100%;
  height: 40px;
  display: flex;
  font-weight: bold;
}
#m_Nav a,
#m_Nav button,
#m_Nav li {
  color: #fff;
}

#mainslid_wrap {
  width: 100%;
  min-width: 1900px;
  height: 480px;
  position: relative;
  overflow: hidden;
}
#mainslid_wrap span {
  width: 50px;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 30px;
  padding: 0px 15px;
  border-radius: 50%;
  color: #666;
  background-color: rgba(196, 196, 196, 0.6156862745);
}

.top_prev {
  left: 29%;
}

.top_next {
  right: 29%;
}

.main_slid {
  width: 8340px;
  height: 400px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  left: -183px;
}
.main_slid li {
  width: 684px;
  height: 100%;
  margin: 75px;
}
.main_slid li img {
  width: 100%;
  height: 100%;
  border-radius: 40px;
}

#shortcut {
  width: 100%;
  height: 183px;
  margin-top: 120px;
  margin-bottom: 50px;
}

#sc_tab {
  display: flex;
}
#sc_tab li {
  width: 13%;
  cursor: pointer;
}
#sc_tab li:nth-child(1)::after {
  content: "|";
  margin-left: 15px;
}
#sc_tab li.active_sc {
  color: green;
  font-weight: bold;
}

.sc_tab_list {
  display: none;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  margin-top: 20px;
}

.sc_tab_list.hidden {
  display: none;
}

.sc_tab_list:first-of-type {
  display: flex;
}

.tab_items {
  width: 5.5%;
  height: 100px;
  text-align: center;
}
.tab_items a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.tab_items a img {
  margin: 0 auto;
  width: 57px;
  height: 57px;
  padding: 5px;
  border-radius: 50%;
  background-color: #f0f0f0;
}
.tab_items a span {
  width: 100%;
  margin-top: 8px;
  font-size: 12px;
}

#todayBook {
  width: 100%;
  margin-bottom: 50px;
}

.five_book,
.five_book_md {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 300px;
  margin-top: 30px;
  cursor: pointer;
}
.five_book div,
.five_book_md div {
  width: 15%;
  height: 100%;
  border-radius: 3px 8px 8px 3px;
}
.five_book div img,
.five_book_md div img {
  width: 100%;
  height: auto;
  border-radius: 3px 8px 8px 3px;
  box-shadow: 7px 0px rgba(158, 158, 158, 0.637);
}
.five_book div p,
.five_book_md div p {
  color: #777;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#weekBook_content {
  width: 100%;
  min-width: 1600px;
  height: 500px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-color: #fffbf0;
  color: #333;
}

#week_slide_wrap {
  width: 100%;
  height: 100%;
  position: relative;
}
#week_slide_wrap .swiper-button-prev {
  position: absolute;
  left: -50px;
  top: 60%;
}
#week_slide_wrap .swiper-button-next {
  position: absolute;
  right: -50px;
  top: 60%;
}

.weekBook_wrap {
  width: 100%;
  height: 380px;
  position: relative;
  display: flex;
  position: relative;
}

.week_left_slide {
  width: 440px;
  height: 360px;
  position: absolute;
  top: 53px;
}
.week_left_slide .swiper {
  width: 100%;
}
.week_left_slide .swiper-slide {
  position: relative;
}
.week_left_slide .swiper-slide img {
  width: 48%;
  height: 90%;
}
.week_left_slide .week_text_box {
  position: absolute;
  top: 3%;
  left: 55%;
  text-align: left;
}

.week_rigth_slide {
  width: 55%;
  height: 180px;
  position: absolute;
  right: 15px;
  bottom: 0;
}
.week_rigth_slide .swiper {
  width: 100%;
}
.week_rigth_slide .swiper .swiper-slide {
  height: 100%;
}
.week_rigth_slide img {
  width: 95%;
  height: 53%;
}

#newBook {
  width: 100%;
  height: 520px;
  margin-bottom: 50px;
  position: relative;
}
#newBook .swiper-button-prev {
  position: absolute;
  left: -50px;
  top: 260px;
}
#newBook .swiper-button-next {
  position: absolute;
  right: -50px;
  top: 260px;
}

.banner1,
.banner2 {
  width: 100%;
  height: 120px;
  margin-bottom: 50px;
}
.banner1 img,
.banner2 img {
  width: 100%;
  height: 120px;
}

.banner1 {
  background-color: #222222;
}

.banner2 {
  background-color: #FFACCF;
}

#bestBook {
  width: 100%;
  height: 520px;
  margin-bottom: 50px;
  position: relative;
}
#bestBook .swiper-button-prev {
  position: absolute;
  left: -50px;
  top: 260px;
}
#bestBook .swiper-button-next {
  position: absolute;
  right: -50px;
  top: 260px;
}

#mdBook {
  width: 100%;
  margin-bottom: 50px;
}

#upBook {
  width: 100%;
  height: 450px;
  margin-bottom: 50px;
  position: relative;
}
#upBook .swiper {
  height: 90%;
}
#upBook .swiper img {
  height: 313px;
}
#upBook .swiper-button-prev {
  position: absolute;
  left: -50px;
  top: 200px;
}
#upBook .swiper-button-next {
  position: absolute;
  right: -50px;
  top: 200px;
}

#hotBook {
  width: 100%;
  height: 450px;
  margin-bottom: 50px;
  position: relative;
}
#hotBook .swiper {
  height: 90%;
}
#hotBook .swiper img {
  height: 313px;
}
#hotBook .swiper h5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#hotBook .swiper-button-prev {
  position: absolute;
  left: -50px;
  top: 200px;
}
#hotBook .swiper-button-next {
  position: absolute;
  right: -50px;
  top: 200px;
}

#md_content {
  width: 100%;
  min-width: 1400px;
  height: 518px;
  margin-bottom: 50px;
  position: relative;
}
#md_content .md_prev,
#md_content .md_next {
  z-index: 3;
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #999;
  border-radius: 50%;
  background-color: #eee;
  cursor: pointer;
}
#md_content .md_prev i,
#md_content .md_next i {
  line-height: 40px;
  font-size: 30px;
}
#md_content .md_prev {
  left: 15%;
}
#md_content .md_next {
  right: 15%;
}

#md_slide_content {
  width: 100%;
  height: 485px;
  position: relative;
  overflow: hidden;
  color: #333;
}

#md_slide {
  position: absolute;
  width: 300%;
  left: 4.5%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.md_slide_list {
  width: 8%;
  height: 405px;
  min-width: 540px;
  margin-right: 1%;
  box-shadow: 2px 1px 5px #b1b1b1;
  border-radius: 10px;
  color: #333;
}

.md_list_img {
  width: 100%;
  height: 55%;
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px 10px 0 0;
  align-items: center;
  background-color: rgba(255, 228, 196, 0.623);
}
.md_list_img img {
  width: 120px;
  height: 180px;
  border-radius: 5px;
}

.md_list_text {
  width: 88%;
  height: 28%;
  margin: 10px auto;
}
.md_list_text p {
  width: 100%;
  height: auto;
  padding: 5px 0;
}
.md_list_text span {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}
.md_list_text p,
.md_list_text span {
  font-size: 13px;
  color: #555;
}

.md_list_logo {
  width: 90%;
  height: 12%;
  margin: 0 auto;
  border-top: 1px solid #777;
  display: flex;
  align-items: center;
}
.md_list_logo img {
  width: 27px;
  height: 27px;
  margin-right: 10px;
  border-radius: 50px;
}
.md_list_logo span {
  font-size: 13px;
}

#md_slide_content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #fff 74%);
}

#md_slide_content::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #fff 74%);
}

#review {
  width: 100%;
  height: 420px;
  margin-bottom: 50px;
  position: relative;
}
#review .swiper-button-prev {
  position: absolute;
  left: -50px;
  top: 260px;
}
#review .swiper-button-next {
  position: absolute;
  right: -50px;
  top: 260px;
}

#rw_slid_wrap {
  width: 100%;
  height: 95%;
  margin: 20px auto;
  display: flex;
}
#rw_slid_wrap .swiper {
  padding: 10px;
}
#rw_slid_wrap .swiper-slide {
  border-radius: 20px;
  background-color: #eee;
  box-shadow: 3px 2px 2px #dbdbdb;
}
#rw_slid_wrap .swiper-slide a {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
#rw_slid_wrap .swiper-slide a div:nth-child(1) {
  width: 100%;
  height: 65%;
  border-radius: 20px 20px 0 0;
}
#rw_slid_wrap .swiper-slide a div:nth-child(1) img {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
  box-shadow: none;
  position: relative;
}
#rw_slid_wrap .swiper-slide a div:nth-child(1) h6 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 65%;
  padding: 30px;
  font-size: 13px;
  color: #ececec;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px 20px 0 0;
}
#rw_slid_wrap .swiper-slide a div:nth-child(2) {
  width: 100%;
  height: 35%;
  display: flex;
  border-radius: 0 0 20px 20px;
  padding: 10px;
}
#rw_slid_wrap .swiper-slide a div:nth-child(2) img {
  width: 65px;
  height: 95px;
  margin-left: 10px;
  box-shadow: none;
}
#rw_slid_wrap .swiper-slide a div:nth-child(2) .rw_text {
  width: 70%;
  height: auto;
  text-align: left;
  margin-left: 20px;
  flex-wrap: wrap;
}
#rw_slid_wrap .swiper-slide a div:nth-child(2) .rw_text h5 {
  width: 100%;
  height: 25px;
}
#rw_slid_wrap .swiper-slide a div:nth-child(2) .rw_text p {
  color: #555;
  width: 100%;
  padding-bottom: 8px;
}
#rw_slid_wrap .swiper-slide a div:nth-child(2) .rw_text span {
  font-size: 14px;
  color: rgb(233, 218, 136);
}

#notic {
  width: 100%;
  height: 40px;
  margin-top: 150px;
  border-top: 1px solid #d6d6d6;
  position: relative;
  overflow: hidden;
}
#notic .notic_wrap {
  width: 100%;
  float: left;
}
#notic .notic_wrap div {
  display: flex;
  width: 100%;
  height: 40px;
}
#notic .notic_wrap h4 {
  width: 15%;
  height: 100%;
  padding: 10px;
  text-align: center;
  line-height: 30px;
  font-weight: 500;
  color: #333;
}
#notic .notic_wrap p {
  width: 80%;
  height: 100%;
  padding: 10px;
  line-height: 30px;
  color: #888;
}
#notic .notic_wrap::after {
  content: " > ";
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 18px;
  color: #727272;
}

footer {
  width: 100%;
  height: 463px;
  font-size: 14px;
  background-color: #f9f9f9;
}

#footer1,
#footer2 {
  display: flex;
  width: 100%;
  margin-top: 25px;
  color: #333;
}

#footer1 {
  padding: 40px 0;
  border-bottom: 2px solid #eee;
}
#footer1 div:nth-child(1) {
  width: 50%;
}
#footer1 div:nth-child(1) table {
  text-align: left;
  color: rgba(48, 48, 48, 0.8);
  width: 100%;
  margin: 15px 0;
}
#footer1 div:nth-child(1) table th {
  width: 20%;
}
#footer1 div:nth-child(1) table td {
  width: 80%;
}
#footer1 div:nth-child(1) button {
  font-size: 14px;
  border: none;
  border-radius: 8px;
  background-color: #eee;
  margin: 10px 10px 0px 0;
  padding: 7px 25px;
}
#footer1 div:nth-child(2) {
  width: 50%;
}

.footer_1 {
  display: flex;
  justify-content: space-between;
}
.footer_1 span {
  font-weight: bold;
  font-size: 16px;
}
.footer_1 li > ul {
  margin-top: 10px;
}
.footer_1 li > ul li {
  margin-top: 5px;
  color: rgba(48, 48, 48, 0.8);
}

#footer2 {
  width: 100%;
  font-size: 13px;
}
#footer2 div:nth-child(1) {
  width: 15%;
  margin: 40px auto;
}
#footer2 div:nth-child(2) {
  width: 85%;
  margin: 10px 80px;
  color: rgba(48, 48, 48, 0.8);
}
#footer2 div:nth-child(2) ul {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  margin-bottom: 15px;
}
#footer2 div:nth-child(2) ul:nth-child(1) {
  font-size: 16px;
  font-weight: bold;
}
#footer2 div:nth-child(2) li {
  padding-right: 10px;
}
#footer2 div:nth-child(2) li::after {
  content: "|";
  margin: 10px;
}
#footer2 div:nth-child(2):last-child::after {
  content: "";
}