* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
}

body,
input,
select,
textarea,
button {
  font-family: "Pretendard", sans-serif;
}

.bookList {
  width: 1280px;
  height: 338px;
  display: flex;
  justify-content: space-between;
}

.book {
  width: 192px;
  height: 338px;
  border-radius: 3px 8px 8px 3px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.book_img {
  width: 192px;
  height: 289px;
  border-radius: 3px 8px 8px 3px;
  box-shadow: 5px 0 rgba(68, 68, 68, 0.2196078431);
  background-color: #44940f;
}
.book_img img {
  border-radius: 3px 8px 8px 3px;
  width: 100%;
  height: 100%;
}

.book_text {
  width: 100%;
  height: auto;
  margin-top: 8px;
}
.book_text p:nth-child(2) {
  font-size: 13px;
  color: #777;
}

.title {
  display: flex;
  height: 35px;
}
.title h2 {
  color: #222;
}
.title span {
  line-height: 40px;
  font-size: 14px;
  color: #333;
  margin-left: 20px;
}

.catagory_tab {
  width: 100%;
  height: 48px;
  margin-bottom: 10px;
}
.catagory_tab ul {
  display: flex;
  width: 100%;
  height: 100%;
}
.catagory_tab li {
  margin-top: 8px;
  margin-right: 8px;
}
.catagory_tab li button {
  height: 40px;
  border: none;
  border-radius: 20px;
  padding: 0px 14px;
  font-size: 14px;
  cursor: pointer;
  background-color: #ebebeb;
}

header {
  width: 100%;
  margin-bottom: 25px;
}

#topNav {
  width: 100%;
  height: 39px;
  display: flex;
  justify-content: space-between;
}
#topNav ul {
  display: flex;
}
#topNav li {
  padding: 5px;
  line-height: 20px;
  font-size: 13px;
}

#topSearch {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

#search {
  width: 581px;
  position: relative;
}
#search input {
  width: 581px;
  height: 44px;
  margin-bottom: 3px;
  border: 1px solid #868686;
  border-radius: 8px;
}
#search button {
  position: absolute;
  right: 0;
  border: 1px solid #868686;
  border-radius: 0 8px 8px 0;
  width: 51px;
  height: 44px;
  background: url("../img/search_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.svg") center no-repeat;
}
#search ul {
  display: flex;
  color: #777;
}
#search li {
  font-size: 11px;
}
#search li::after {
  content: "|";
  margin: 4px;
}
#search li:last-child::after {
  content: "";
}
#search div {
  position: absolute;
  bottom: 0px;
  right: 8px;
}
#search div span {
  background-size: 27px 44px;
  background-color: rgba(184, 184, 184, 0.3568627451);
  font-size: 11px;
  color: #777;
  border-radius: 8px;
  padding: 0px 3px;
}

#ad {
  width: 220px;
  height: 95px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#ad img {
  width: 65px;
  height: 85px;
}

#main {
  width: 100%;
  height: 470px;
  margin-bottom: 50px;
  position: relative;
  background-color: rgb(192, 218, 134);
}

#mainNav {
  width: 100%;
  height: 40px;
}

#m_Nav {
  width: 100%;
  height: 40px;
  display: flex;
  font-weight: bold;
}
#m_Nav a, #m_Nav button, #m_Nav li {
  color: #eee;
}

#catagory button {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  line-height: 30px;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}

#catagoryBox {
  display: none;
}

#menu {
  height: 40px;
  display: flex;
  align-items: center;
}
#menu li {
  margin: 13px;
}

#menu_other {
  width: 50%;
  height: 40px;
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}
#menu_other li {
  margin: 5px;
}
#menu_other li::after {
  content: "|";
  margin-left: 6px;
  float: right;
}
#menu_other li:last-child::after {
  content: "";
}

#mainslid_wrap {
  width: 100%;
  height: 430px;
  position: relative;
  overflow: hidden;
}
#mainslid_wrap span {
  position: absolute;
  top: 50%;
  font-size: 30px;
  padding: 0px 15px;
  border-radius: 50%;
  background-color: rgba(196, 196, 196, 0.6156862745);
}

.prev {
  left: 20%;
}

.next {
  right: 20%;
}

.main_slid {
  width: 1000%;
  height: 430px;
  position: absolute;
}
.main_slid li {
  width: 684px;
  height: 430px;
  margin: 50px;
  float: left;
}
.main_slid li img {
  width: 684px;
  height: 430px;
}

#shortcut {
  width: 1280px;
  height: 183px;
  margin-bottom: 50px;
}

#sc_tab {
  display: flex;
}
#sc_tab li {
  width: 11%;
  cursor: pointer;
}
#sc_tab li:nth-child(1)::after {
  content: "|";
  margin-left: 15px;
}

#sc_tab_list1, #sc_tab_list2 {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#sc_tab_list2 {
  display: none;
}

.tab_items {
  width: 5%;
  height: 100px;
  text-align: center;
}
.tab_items a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.tab_items a img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #555;
}
.tab_items a span {
  width: 100%;
  margin-top: 8px;
  background-color: #44940f;
}

#todayBook {
  width: 1280px;
  height: 438px;
  margin-bottom: 50px;
}

.bookList {
  margin-top: 30px;
}

#weekBook {
  width: 100%;
  height: 434px;
  margin-bottom: 50px;
  position: relative;
}

#weekBook_list {
  width: 100%;
  height: 351px;
  position: relative;
  display: flex;
  background-color: #fffbf0;
}

#week_left_slid {
  width: 380px;
  height: 100%;
  position: absolute;
  top: 15px;
}

#week_right_slid {
  width: 800px;
  height: 200px;
  position: absolute;
  right: 15px;
  bottom: 0;
}

.week_book {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
.week_book img {
  width: 30%;
  height: 100%;
  background-color: #df7575;
}
.week_book .week_text {
  width: 70%;
  height: 100%;
  padding: 10px;
  text-align: left;
}
.week_book .week_text span {
  font-size: 13px;
  position: absolute;
  bottom: 20px;
  color: #44940f;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  height: 90%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-pagination {
  width: 100%;
  height: 10px;
}

:root {
  --swiper-theme-color: #343434 !important;
}

#newBook {
  width: 100%;
  height: 510px;
  margin-bottom: 50px;
}

.book_slide {
  margin-top: 20px;
  width: 100%;
  height: 400px;
  position: relative;
}

.banner1, .banner2 {
  width: 100%;
  height: 120px;
  margin-bottom: 50px;
}
.banner1 img, .banner2 img {
  width: 100%;
  height: 120px;
}

.banner1 {
  background-color: #222222;
}

.banner2 {
  background-color: #FFACCF;
}

.banner > div > img {
  width: 1280px;
  height: 120px;
}

#bestBook {
  width: 1280px;
  height: 502px;
  margin-bottom: 50px;
}

#mdBook {
  width: 1280px;
  height: 438px;
  margin-bottom: 50px;
}

#upBook {
  width: 100%;
  height: 480px;
  margin-bottom: 50px;
}

#hotBook {
  width: 1280px;
  height: 480px;
  margin-bottom: 50px;
}

#md_content {
  width: 100%;
  height: 518px;
  margin-bottom: 50px;
}

#md_slide_content {
  width: 100%;
  height: 485px;
  position: relative;
}

#md_slide {
  position: absolute;
  left: -360px;
  width: 250%;
  height: 405px;
  margin-top: 40px;
  display: flex;
}

.md_slide_list {
  width: 10%;
  min-width: 540px;
  max-width: 600px;
  height: 100%;
  margin-right: 40px;
  color: #333;
}

.md_list_img {
  width: 100%;
  height: 55%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.md_list_img img {
  width: 120px;
  height: 180px;
  border-radius: 5px;
  background-color: #df7575;
}

.md_list_text {
  width: 90%;
  height: 30%;
  margin: 10px auto;
}
.md_list_text p {
  padding: 25px 0;
}
.md_list_text p, .md_list_text span {
  font-size: 13px;
  color: #555;
}

.md_list_logo {
  width: 90%;
  height: 10%;
  margin: 0 auto;
  border-top: 1px solid #777;
  display: flex;
  align-items: center;
}
.md_list_logo img {
  width: 27px;
  height: 27px;
  margin-right: 10px;
  border-radius: 50px;
}
.md_list_logo span {
  font-size: 13px;
  line-height: 30px;
}

#review {
  width: 1280px;
  height: 580px;
  margin-bottom: 50px;
}

#rw_slid_wrap {
  width: 100%;
  height: 471px;
  margin: 20px auto;
  display: flex;
}
#rw_slid_wrap .swiper-slide {
  height: 93%;
  border-radius: 20px;
  background-color: gold;
}
#rw_slid_wrap .swiper-slide div:nth-child(1) {
  width: 340px;
  height: 323px;
  background-color: red;
}
#rw_slid_wrap .swiper-slide div:nth-child(1) img {
  width: 100%;
  height: 100%;
}
#rw_slid_wrap .swiper-slide div:nth-child(2) {
  width: 100%;
  height: 20%;
  display: flex;
  background-color: #44940f;
}
#rw_slid_wrap .swiper-slide div:nth-child(2) img {
  width: 70px;
  height: 107px;
  background-color: aqua;
}

#notic {
  width: 1280px;
  height: 55px;
  border-top: 1px solid #d6d6d6;
  display: flex;
  overflow: hidden;
}
#notic p {
  width: 8%;
  text-align: center;
  line-height: 55px;
  font-weight: 500;
}
#notic ul {
  width: 92%;
  height: 400%;
}
#notic li {
  width: 100%;
  height: 55px;
}

footer {
  width: 100%;
  height: 463px;
  font-size: 14px;
  background-color: #f9f9f9;
}

#footer1, #footer2 {
  display: flex;
  width: 100%;
  margin-top: 25px;
}

#footer1 {
  padding: 40px 0;
  border-bottom: 2px solid #eee;
}
#footer1 div:nth-child(1) {
  width: 50%;
}
#footer1 div:nth-child(1) table {
  text-align: left;
  color: rgba(48, 48, 48, 0.8);
  width: 100%;
  margin: 15px 0;
}
#footer1 div:nth-child(1) table th {
  width: 20%;
}
#footer1 div:nth-child(1) table td {
  width: 80%;
}
#footer1 div:nth-child(1) button {
  font-size: 14px;
  border: none;
  border-radius: 8px;
  background-color: #eee;
  margin: 10px 10px 0px 0;
  padding: 7px 25px;
}
#footer1 div:nth-child(2) {
  width: 50%;
}

.footer_1 {
  display: flex;
  justify-content: space-between;
}
.footer_1 span {
  font-weight: bold;
  font-size: 16px;
}
.footer_1 li > ul {
  margin-top: 10px;
}
.footer_1 li > ul li {
  margin-top: 5px;
  color: rgba(48, 48, 48, 0.8);
}

#footer2 {
  width: 100%;
  font-size: 13px;
}
#footer2 div:nth-child(1) {
  width: 15%;
  margin: 40px auto;
}
#footer2 div:nth-child(2) {
  width: 85%;
  margin: 10px;
  color: rgba(48, 48, 48, 0.8);
}
#footer2 div:nth-child(2) ul {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  margin-bottom: 15px;
}
#footer2 div:nth-child(2) ul:nth-child(1) {
  font-size: 16px;
  font-weight: bold;
}
#footer2 div:nth-child(2) li {
  padding-right: 10px;
}
#footer2 div:nth-child(2) li::after {
  content: "|";
  margin: 10px;
}
#footer2 div:nth-child(2):last-child::after {
  content: "";
}