.view_wrap {
  min-width: 1280px;
  height: 100%;
  position: relative;
}

.container {
  width: 1060px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 110px;
}

.md_btn {
  border: 1px solid #4aaf70;
  color: #4aaf70;
}

.payment_btn {
  width: 100%;
}

.payment_cart,
.payment_buy,
.payment_now {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-radius: 8px;
}

.payment_cart {
  border: 1px solid #888;
}

.payment_buy {
  background-color: #4aaf70;
  border: 1px solid #888;
  color: #fff;
}

.payment_now {
  border: 1px solid darkred;
  color: darkred;
}

.tag {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.tag li {
  font-size: 12px;
  padding: 0 10px;
  margin-right: 3px;
  color: gray;
  border: 1px solid #9ea7ad;
  border-radius: 13px;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#aside_bestSel {
  z-index: 5;
  position: absolute;
  top: 40px;
  right: calc(100% - 100px);
  width: 130px;
  height: 370px;
  background-color: aqua;
}
#aside_bestSel .bestSel {
  width: 100%;
  height: 153px;
  padding-top: 13px;
  margin-bottom: 22px;
  box-shadow: 6px 3px 20px 0 rgba(0, 0, 0, 0.08);
  background-color: bisque;
}

#aside_view {
  z-index: 5;
  position: absolute;
  top: 40px;
  left: calc(100% - 100px);
  width: 92px;
  height: 268px;
  background-color: aqua;
}

.book_head {
  position: relative;
  margin: 0 auto;
}
.book_head ul,
.book_head li,
.book_head ol {
  list-style: none;
}

#book_detail {
  display: flex;
  height: 100%;
}

#detail_left {
  padding: 20px 0;
}
#detail_left .left_img {
  width: 400px;
  height: 500px;
  background-color: rgb(230, 230, 230);
}
#detail_left .left_img img {
  width: 100%;
  height: 100%;
}
#detail_left .left_interactive {
  width: 100%;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #8d8d8d;
}
#detail_left .left_interactive span {
  color: #727272;
  cursor: pointer;
}
#detail_left .left_interactive span:nth-child(1)::after {
  content: "|";
  margin: 30px;
}
#detail_left .left_tag {
  padding: 20px 0;
}
#detail_left .left_tag h5 {
  padding: 20px 0;
}

#detail_right {
  margin-left: 10px;
}
#detail_right .payment_btn {
  display: flex;
  justify-content: space-between;
}

.right_benefit {
  width: 100%;
}
.right_benefit h5 {
  padding: 10px 0;
}

.benefit_table {
  width: 100%;
}
.benefit_table td {
  font-size: 14px;
}
.benefit_table td span {
  font-size: 14px;
  padding: 10px;
}

.member_box {
  width: 100%;
}

.right_delivery {
  width: 100%;
}
.right_delivery h5 {
  padding: 20px 0;
}

.delivery_table {
  width: 100%;
  font-size: 14px;
}
.delivery_table td {
  padding: 5px;
}
.delivery_table tr > td:nth-child(1) {
  width: 80px;
  line-height: 30px;
}
.delivery_table button {
  padding: 5px 5px;
  font-size: 12px;
  background: none;
  border: 1px solid;
  margin-right: 5px;
  color: green;
}

#sub_nav_wrap {
  width: 100%;
  z-index: 20;
  background-color: rgb(228, 228, 228);
}
#sub_nav_wrap ul,
#sub_nav_wrap li,
#sub_nav_wrap ol {
  list-style: none;
}
#sub_nav_wrap ul {
  display: flex;
  justify-content: space-between;
}
#sub_nav_wrap ul li {
  padding: 20px 0;
}

.scroll {
  position: fixed;
  top: 0;
}

.content_wrap {
  width: 1060px;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
}

.container_detail {
  width: 720px;
}

#tab_contents {
  max-width: 1280px;
}

.detail_info {
  width: 100%;
  padding: 60px 0;
  border-bottom: 1px solid rgb(207, 207, 207);
  width: 100%;
  position: relative;
}
.detail_info h2 {
  padding: 20px 0;
}

.detail_table {
  width: 100%;
  border: 1px solid gray;
}
.detail_table tr > td:nth-child(1) {
  width: 20%;
  text-align: center;
  background-color: gray;
}
.detail_table td {
  padding: 10px 8px;
}

.detail_event {
  width: 100%;
  padding: 60px 0;
  border-bottom: 1px solid rgb(207, 207, 207);
  width: 100%;
  position: relative;
}
.detail_event h2 {
  padding: 20px 0;
}

.event_slide {
  width: 100%;
  height: 477px;
  padding: 50px 0;
  position: relative;
}
.event_slide .swiper-wrapper {
  height: 90%;
}
.event_slide .swiper-slide {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  font-size: 14px;
}
.event_slide .swiper-slide img {
  height: 60%;
}
.event_slide .swiper-slide p {
  width: 100%;
  line-height: 30px;
  text-align: left;
  color: #444;
}
.event_slide .swiper-button-next {
  right: -10px;
}
.event_slide .swiper-button-prev {
  left: -10px;
}
.event_slide .swiper-button-next,
.event_slide .swiper-button-prev {
  position: absolute;
  background-color: white;
  color: #888;
  border-radius: 20px;
  box-shadow: 2px 1px 3px #838383;
}
.event_slide .swiper-button-prev::after,
.event_slide .swiper-button-next::after {
  font-size: 1.1rem !important;
  font-weight: 600 !important;
}

.event_btn {
  margin: 15px -4px;
  padding: 5px 10px;
  align-self: flex-start;
  background-color: #0067cb;
  border: none;
  color: #eee;
}

.detail_intro {
  width: 100%;
}

.more_btn {
  cursor: pointer;
  font-size: 14px;
  color: #686868;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #a1a1a1;
  position: absolute;
  right: 0;
  bottom: 10px;
}

.book_content {
  line-height: 30px;
  font-size: 14px;
  margin-top: 10px;
  padding: 20px 0;
}

.book_content::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 150px;
  background: linear-gradient(rgba(255, 255, 255, 0), white);
  left: 0;
  bottom: 0;
}

.book_intro {
  width: 100%;
  padding: 60px 0;
  border-bottom: 1px solid rgb(207, 207, 207);
  width: 100%;
  position: relative;
  height: 300px;
  overflow: hidden;
}
.book_intro h2 {
  padding: 20px 0;
}

.book_index {
  width: 100%;
  padding: 60px 0;
  border-bottom: 1px solid rgb(207, 207, 207);
  width: 100%;
  position: relative;
}
.book_index h2 {
  padding: 20px 0;
}

.book_field {
  width: 100%;
  padding: 60px 0;
  border-bottom: 1px solid rgb(207, 207, 207);
  width: 100%;
  position: relative;
}
.book_field h2 {
  padding: 20px 0;
}

.book_columns {
  width: 100%;
  padding: 60px 0;
  border-bottom: 1px solid rgb(207, 207, 207);
  width: 100%;
  position: relative;
  height: 300px;
  overflow: hidden;
}
.book_columns h2 {
  padding: 20px 0;
}
.book_columns img {
  width: 100%;
}

.book_author {
  width: 100%;
  padding: 60px 0;
  border-bottom: 1px solid rgb(207, 207, 207);
  width: 100%;
  position: relative;
}
.book_author h2 {
  padding: 20px 0;
}

#tab_review {
  padding: 50px 0;
  position: relative;
}
#tab_review h2 {
  padding: 20px 0;
}
#tab_review span {
  color: #555;
}

.r_btn {
  position: absolute;
  right: 0;
  top: 100px;
  color: #eee;
  border: none;
  background-color: #4aaf70;
  padding: 10px 20px;
  border-radius: 10px;
}

.review_table {
  color: #555;
  padding: 20px 0;
}
.review_table ul {
  list-style: none;
  padding: 10px 0;
  display: flex;
  border-bottom: 1px solid #c5c5c5;
}
.review_table ul li::after {
  content: "|";
  margin: 20px;
}
.review_table ul li:nth-child(4)::after {
  content: "";
}

.review_list {
  width: 100%;
  padding: 30px 0;
  display: flex;
  border-bottom: 1px solid #c5c5c5;
}
.review_list img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.list_info {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
}
.list_info span {
  width: 100%;
  padding: 0 10px;
  line-height: 25px;
}
.list_info span:nth-child(1) {
  color: #4aaf70;
}
.list_info span:nth-child(1)::after {
  content: "5";
  color: #333;
  font-weight: bold;
  margin: 10px;
}
.list_info span:nth-child(3) {
  padding: 20px 0;
}

#tab_gooditems {
  width: 100%;
  height: 100%;
}
#tab_gooditems h3 {
  padding: 15px 0;
}

.goodItems_wrap {
  width: 100%;
  padding: 50px 0;
}

.goodItems_slide {
  width: 100%;
  height: 365px;
  padding: 15px;
  border: 1px solid rgb(197, 197, 197);
  position: relative;
}
.goodItems_slide .swiper-slide {
  display: flex;
  flex-direction: column;
}
.goodItems_slide .swiper-slide img {
  width: 100%;
  height: 90%;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #aaaaaa;
}
.goodItems_slide .swiper-slide .good_text {
  width: 60%;
  margin: 0 auto;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.goodItems_slide .swiper-slide p {
  font-size: 14px;
}
.goodItems_slide .swiper-button-next {
  right: -13px;
}
.goodItems_slide .swiper-button-prev {
  left: -13px;
}
.goodItems_slide .swiper-button-next,
.goodItems_slide .swiper-button-prev {
  position: absolute;
  background-color: white;
  color: #888;
  border-radius: 20px;
  box-shadow: 2px 1px 3px #838383;
}
.goodItems_slide .swiper-button-prev::after,
.goodItems_slide .swiper-button-next::after {
  font-size: 1.1rem !important;
  font-weight: 600 !important;
}

.theme_wrap {
  width: 100%;
  padding-bottom: 80px;
}

.theme {
  width: 100%;
}

.theme_text {
  display: flex;
  padding: 20px 0;
}
.theme_text .theme_logo img {
  width: 36px;
  height: 36px;
  margin: 5px 5px;
  border-radius: 50%;
}

.theme_book {
  width: 95%;
  height: 100%;
  margin-left: 4.3%;
  display: flex;
  justify-content: space-between;
}
.theme_book img {
  width: 118px;
  height: 177px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgb(187, 187, 187);
}

#tab_return {
  width: 100%;
}
#tab_return table {
  font-size: 13px;
}
#tab_return table td {
  padding: 20px;
  line-height: 20px;
  border-bottom: 1px solid #888;
  border-top: 1px solid #888;
}
#tab_return table tr > td:nth-child(1) {
  background-color: #f8f8f8;
  text-align: center;
}
#tab_return table tr > td:nth-child(2) {
  color: #555;
}

#content_payment_wrap {
  background-color: brown;
  width: 279px;
  margin-left: 70px;
}

.content_payment {
  padding: 20px;
}

.payment_img {
  display: flex;
  border-bottom: 1px solid #555;
}
.payment_img img {
  width: 60px;
  height: 90px;
  padding-bottom: 20px;
}

.payment_count {
  display: flex;
}
.payment_count input {
  width: 30px;
  text-align: center;
  padding: 5px;
}
.payment_count button {
  width: 25px;
  padding: 3px;
}

.payment_price {
  font-size: 18px;
  color: rgb(199, 12, 12);
}