// all

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1280px;
  margin: 0 auto;
  border: 1px solid rgba(255, 221, 221, 0.452);
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
}

body,
input,
select,
textarea,
button {
  font-family: 'Pretendard', sans-serif;
}


// 믹스인

// 북
.bookList {
  width: 1280px;
  height: 338px;
  display: flex;
  justify-content: space-between;
}

.book {
  width: 192px;
  height: 289px;
  display: flex;
  flex-direction: column;

  img{width: 192px; height: 289px;}
  background-color: gray;
}

// 섹션 타이틀
.title {display: flex;
 height: 35px;
 background-color: rebeccapurple;
 h2 {color: #222;}
 span {line-height: 40px; font-size: 14px;
    color: #333;
margin-left: 20px;}
}

// 카테고리 탭_리스트
.catagory_tab {width: 100%; height: 48px; background-color: cornflowerblue;

ul{display: flex; width: 100%; height: 100%;}
li {
  margin-top: 8px;
  margin-right: 8px;
    
    button{
      height: 40px;
      border: none;
      border-radius: 20px;
      padding: 0px 14px;
      font-size: 14px;
    background-color: #fff;}}}

//   헤더
header {
  width: 100%;
}

#topNav {width: 100%; height: 39px; 
  display: flex; justify-content: space-between;

  ul {display: flex;}
  li {padding: 5px; line-height: 20px;
  font-size: 13px;}
}
    
#topSearch {width: 100%; 
  position: relative;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  margin: 10px;}

#search {
  width: 581px;
  position: relative;
 input {width: 581px; height: 44px;
  margin-bottom: 3px;
  border: 1px solid #868686;
border-radius: 8px;}

  button {
    position: absolute;
    right: 0;
    border: 1px solid #868686;
    border-radius: 0 8px 8px 0;
    width: 51px; height: 44px;
    background: url("../img/search_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.svg") center no-repeat;
  }

  ul {display: flex; color: #777;}
  li{font-size: 11px;
  &::after {content: "|"; margin: 4px;}
&:last-child::after{content: "";}}

  div {position: absolute; bottom: 0px; right: 8px;
  span{
        background-size: 27px 44px;
    background-color: #b8b8b85b; 
    font-size: 11px;
    color: #777;
    border-radius: 8px;
    padding: 0px 3px;}}
}

#ad { width: 220px; height: 95px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  img {width: 65px; height: 85px; 
   }
}

// 메인
#main {
  width: 100%;
  height: 470px;
  position: relative;
  background-color: rgb(192, 218, 134);
}

// 메인네비
#mainNav {
  width: 100%;
  height: 40px;
}
#m_Nav{ width: 100%;
  height: 40px;
  display: flex;
  font-weight: bold;

  a,button,li {color: #eee;}
}

// 햄버거카테고리
#catagory {
  button {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    line-height: 30px;
    border: none; 
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
   }
}

//마우스오버메뉴
#catagoryBox {
  display: none;
}

// 메인네비 _ 메뉴
#menu {height: 40px;
   display: flex;
    align-items: center;
    li{margin: 13px;}
}

#menu_other {
  width: 50%;
  height: 40px;
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;

  li { margin: 5px;
    &::after {
      content: "|";
      margin-left: 6px;
      float: right;
    }
     &:last-child::after {
    content: "";
  }
  }

}



// 메인슬라이드
#mainslid_wrap{
  width: 100%;
  height: 430px;
  position: relative;
  overflow: hidden;

  span{position: absolute;
  top: 50%;
font-size: 30px;
padding: 0px 15px;
border-radius: 50%;
background-color: #c4c4c49d;}
}

.prev {left: 20%;}
.next {right: 20%;}

.slid {
  width: 1000%;
  height: 430px;
  position: absolute;

  li {
    width: 684px;
    height: 430px;
    margin: 50px;
    float: left;

    img {width: 684px; height: 430px;}
  }

}



// 바로가기
#shortcut {
  width: 1280px;
  height: 183px;
  background-color: chartreuse;
}

#sc_tab {display: flex;
li {width: 11%; cursor: pointer;
&:nth-child(1)::after {content: "|"; margin-left: 15px;}}}

#sc_tab_list1 , #sc_tab_list2{ 
  display: flex;
  background-color: aqua;
  li {width: 8%; margin: 2%;}
  }

#sc_tab_list2 {display: none;}

.tab_icon {
  width: 64px; height: 64px;
  background-color: rgb(158, 158, 158);
border-radius: 50%;}



// 오늘의 책
#todayBook {
  width: 1280px;
  height: 438px;
  background-color: gold;
}

.bookList {
  margin-top: 30px;}


// 주가베스트

#weekBook {
  width: 100%;
  height: 434px;
  background-color: rosybrown;
}

// 화제의 신간

#newBook {
  width: 100%;
  height: 502px;
  background-color: bisque;
}

//  올 배너
.banner {
  width: 100%;
  height: 120px;
  background-color: blueviolet;
}

.banner>div>img {
  width: 1280px;
  height: 120px;
  background-color: orange;
}

// 인기검색어
#bestBook {
  width: 1280px;
  height: 502px;
  background-color: burlywood;
}

// MD추천도서
#mdBook {
  width: 1280px;
  height: 438px;
  background-color: brown;
}

// 급상승도서
#upBook {
  width: 1280px;
  height: 438px;
  background-color: darkcyan;
}

// 핫북
#hotBook {
  width: 1280px;
  height: 438px;
  background-color: crimson;
}

// 배너2

// 책추천슬라이드
#mdSlid {
  width: 100%;
  height: 518px;
  background-color: cadetblue;
}

// 리뷰
#review {
  width: 1280px;
  height: 572px;
  background-color: coral;
}


// 공지사항
#notic {
  width: 1280px;
  height: 55px;
  background-color: darkorchid;
}

footer {
  width: 100%;
  height: 463px;
    font-size: 14px;
  background-color: #f9f9f9;
}

#footer1, #footer2 {
  display: flex;
  width: 100%;
  margin-top: 25px;
}

#footer1 {
 padding-bottom: 30px;
  border-bottom: 2px solid #eee;
  div:nth-child(1){
    width: 50%;
 
    table{text-align: left;
      color: rgba(48, 48, 48, 0.8);
      width: 100%;
      margin: 15px 0;
      th {width: 20%;}
      td {width: 80%;}
}


    button {    
      font-size: 14px;
      border: none;
      border-radius: 8px;
      background-color: #eee;
      margin: 10px 10px 0px 0 ;
    padding: 7px 25px;}
  }

  div:nth-child(2){
    width: 50%;

    
  }
}
.footer_1 {display: flex;
  justify-content: space-between;
  span{font-weight: bold; font-size: 16px;}
  li>ul {margin-top: 10px;

    li{margin-top: 5px;
    color: rgba(48, 48, 48, 0.8);}}
}

#footer2 {
  width: 100%;
  font-size: 13px;
  
  div:nth-child(1){width: 15%; 
    margin: 40px auto;}

  div:nth-child(2){width: 85%; margin: 10px;
    color: rgba(48, 48, 48, 0.8);
    
  ul {width: 100%; flex-wrap: wrap;
  display: flex; margin-bottom: 15px;}

  ul:nth-child(1){
    font-size: 16px;
    font-weight: bold;
  }

  li{padding-right: 10px;
    &::after {content: "|"; margin: 10px;}
  }
   &:last-child::after {
    content: "";
  }
}

}