// 메인
#main {
    width: 100%;
    height: 40px;
    margin-bottom: 50px;
    position: relative;
    background-color: rgb(192, 218, 134);

    ul,
    ol,
    li {
        list-style: none;
    }
}

// 메인네비
#mainNav {
    width: 100%;
    height: 40px;
}

#m_Nav {
    width: 100%;
    height: 40px;
    display: flex;
    font-weight: bold;

    a,
    button,
    li {
        color: #fff;
    }
}


.container {
    width: 1200px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 110px;
}

//MD추천
.md_btn {
    border: 1px solid #4aaf70;
    padding: 4px 6px;
    font-size: 12px;
    color: #4aaf70;
}

// 페이먼트 버튼
.payment_cart,
.payment_buy,
.payment_now {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-radius: 8px;
    cursor: pointer;
}

.payment_cart {
    border: 1px solid #888;
    background-color: white;
}

.payment_buy {
    background-color: #4aaf70;
    border: 1px solid #888;
    color: #fff;
}

.payment_now {
    border: 1px solid darkred;
    color: darkred;
    background-color: white;
}

//태그
.tag {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;

    li {
        font-size: 12px;
        padding: 0 10px;
        margin-right: 3px;
        color: gray;
        border: 1px solid #9ea7ad;
        border-radius: 13px;
    }
}

// 스와이프
html,
body {
    position: relative;
    height: 100%;
}

body {

    font-family: Helvetica 'Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


//베스트셀렉
#aside_bestSel {
    z-index: 20;
    position: fixed;
    top: 280px;
    left: 150px;
    width: 130px;

    .bestSel {
        width: 100%;
        height: 180px;
        margin: 20px 0;
        border-radius: 15px;
        box-shadow: 6px 3px 10px 0 rgba(189, 189, 189, 0.651);
        position: relative;
        
       .bestSel_img {width: 100%; height: 90%; 
        border-radius: 15px 15px 0 0;
    img{width: 85%; height: 85%; margin: 10px;}}

    }

    .bestSel_text {background-color: #ffffff;
        position: absolute;
    width: 100%; height: 40%;
    padding: 0 5px;
    border-radius: 0 0 15px 15px;
    bottom: 0;
  
    h4 {width: 85%;
        margin-left: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
          }

    .best_btn {background-color: #fe5a5a;
    width: 90%; padding: 5px; margin: 6px;
    color: #eee; font-weight: bold;
border-radius: 5px;}}

}


// 최근 본 상품
#aside_view {
    z-index: 20;
    position: fixed;
    top: 280px;
    right: 150px;
    width: 150px;
    border-radius: 15px;

    .aside_wrap {
        padding-bottom: 10px ;
          text-align: center;
          border-radius: 15px;
        background-color: rgb(240, 240, 240);   
        
        .view_top {width: 150px;
            border-radius: 15px 15px 0 0; 
        background-color: #444;

        span {color: #fff; font-weight: bold;
    line-height: 40px;}}}
   
    .view_img {background-color: #4aaf70;
    width: 100px; height: 150px;
margin: 10px 25px;

img{width: 100%; height: 100%;}}
    
button {width: 90%;
margin: 10px 5px;
padding: 5px;
border: 1px solid #d8d8d8;
background-color: #fcfcfc;}
}

// 북헤드
.book_head {
    position: relative;
    margin: 0 auto;

    ul,
    li,
    ol {
        list-style: none;
    }
}

#top_select {
    width: 100%;
    height: 35px;
    margin: 15px 0;

    select,
    button {
        padding: 5px;
        margin: 0 3px;
        border: 1px solid #c7c7c7;
        font-size: 12px;
        color: #727272;
        border-radius: 3px;
    }

    button {
        padding: 4.3px;
        border: none;
    }
}

//북 디테일
#book_detail {
    display: flex;
    height: 100%;
}

//디테일 왼쪽
#detail_left {
    padding: 20px 0;

    .left_img {
        width: 400px;
        height: 500px;

        img {
            width: 100%;
            height: 100%;
            padding: 10%;
        }

        background-color: rgb(243, 243, 243);
    }

    .left_interactive {
        width: 100%;
        padding: 20px;
        text-align: center;
        border-bottom: 1px solid #8d8d8d;

        span {
            color: #727272;
            cursor: pointer;

            &:nth-child(1)::after {
                content: "|";
                margin: 30px;
            }
        }
    }

    .left_tag {
        padding: 20px 0;

        h4 {
            padding: 20px 0;
        }
    }
}

//디테일 오른쪽
#detail_right {
    width: 100%;
  
    margin-left: 70px;

    .payment_btn {
        width: 102%;
        display: flex;
        margin: 10px 0;
        button {width: 32%;
        margin-right: 9px;}
    }
}

.book_infobox {width: 100%;
margin-top: 20px;
border-bottom: 1px solid #888;

p {font-size: 13px; color: #8d8d8d;}
.info_star {font-size: 15px; color: #4aaf70;}
.info_price {font-size: 30px; color: rgb(207, 43, 43);
font-weight: bold;
padding: 20px 0;}
}


.right_benefit {
    width: 100%;
    margin: 15px 0;

    h4 {
        padding: 10px 0;
    }
}

.benefit_table {
    width: 100%;

    td {
        font-size: 14px;

        i {
            color: #b6b6b6;
            font-size: 14px;
            padding: 10px;
        }
    }
}


.right_delivery {
    width: 100%;

    h4 {
        padding: 8px 0;
    }
}

.delivery_table {
    width: 100%;
    font-size: 12px;

    td {
        padding: 5px;
    }

    tr>td:nth-child(1) {
        width: 80px;
        line-height: 25px;
    }

    button {
        padding: 5px 5px;
        font-size: 12px;
        background: none;
        border: 1px solid;
        margin-right: 5px;
        color: green;
    }
}


.member_box {
    width: 100%;
    margin-top: 10px;
    padding: 15px 5px;
    border: 1px solid rgba(74, 175, 112, 0.2);
    font-size: 13px;
    background-color: #f5fbf7;
}

//서브 네비
#sub_nav_wrap {
    width: 100%;
    margin: 100px 0;
    z-index: 20;
    ul,
    li,
    ol {
        list-style: none;
    }

    background-color: rgb(228, 228, 228);
}

.sub_nav {width: 100%;
        height: 50px;
       display: flex;
        justify-content: space-between;
       line-height: 50px;
     
       li,a {width: 25%; height: 100%;
    text-align: center;}
               
}

.scroll {
    position: fixed;
    top: -100px;
}

.active_suv_nav {background-color: #4aaf70;}



// 탭_랩
.content_wrap {
    width: 1060px;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
}

// 탭 오른쪽 디테일 컨텐츠
.container_detail {
    width: 720px;
}


//책 상세정보
#tab_contents {
    max-width: 1280px;
}

//상세보기 믹스인
@mixin detail_paading {
    width: 100%;
    padding: 60px 0;
    border-bottom: 1px solid rgb(207, 207, 207);
    width: 100%;
    position: relative;

    h2 {
        padding: 20px 0;
    }
}


// 탭
.detail_info {
    @include detail_paading;
}

// 상품규격
.detail_table {
    width: 100%;
    
    tr>td:nth-child(1) {
        width: 20%;
        text-align: center;
        background-color: #d3d3d3;
    }

    td {
        padding: 15px;
        border-bottom: 1px solid #b8b8b8;
        border-top: 1px solid #b8b8b8;
    }
}

//이벤트 슬라이드
.detail_event {
    @include detail_paading;
}

.event_slide {
    width: 100%;
    height: 477px;
    padding: 50px 0;
    position: relative;

    .swiper-wrapper {
        height: 90%;
    }

    .swiper-slide {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        font-size: 14px;

        img {
            height: 60%;
        }

        p {
            width: 100%;
            line-height: 30px;
            text-align: left;
            color: #444;
        }
    }

    .swiper-button-next {
        right: -10px;
    }

    .swiper-button-prev {
        left: -10px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        background-color: white;
        color: #888;
        border-radius: 20px;
        box-shadow: 2px 1px 3px #838383;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-size: 1.1rem !important;
        font-weight: 600 !important;
    }
}

.event_btn {
    margin: 15px -4px;
    padding: 5px 10px;
    align-self: flex-start;
    background-color: #0067cb;
    border: none;
    color: #eee;
}

//탭 책 상세보기
.detail_intro {
    width: 100%;
}

.more_btn,
.more_col_btn {
    cursor: pointer;
    font-size: 14px;
    color: #686868;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #a1a1a1;
    position: absolute;
    right: 0;
    bottom: 10px;
}

.book_content {
    line-height: 30px;
    font-size: 14px;
    margin-top: 10px;
    padding: 20px 0;
}

.book_content::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 150px;
    background: linear-gradient(rgba(255, 255, 255, 0), white);
    left: 0;
    bottom: 0;
}

//책 소개
.book_intro {
    @include detail_paading;
    height: 300px;
    overflow: hidden;
}

//목차
.book_index {
    @include detail_paading
}

//분야
.book_field {
    @include detail_paading
}

//서평
.book_columns {
    @include detail_paading;
    
    overflow: hidden;

    img {
        width: 80%;
    }

    p {
        font-size: 13px;
        line-height: 20px;
        color: #555;
        padding-bottom: 20px;
    }
}

//작가소개
.book_author {
    @include detail_paading;
}

.author {display: flex;
img {width: 118px; height: 118px; border-radius: 50%;
margin-right: 20px;}
p , h4 {margin: 10px; line-height: 30px;}
p {font-size: 15px;}}

.author_book {margin-top: 20px; line-height: 30px;
p {color: #555; font-size: 14px;}}

//탭 리뷰

#tab_review {
    padding: 50px 0;

    h2 {
        padding: 20px 0;
    }

    position: relative;

    span {
        color: #555;
    }
}

.r_btn {
    position: absolute;
    right: 0;
    top: 100px;
    color: #eee;
    border: none;
    background-color: #4aaf70;
    padding: 10px 20px;
    border-radius: 10px;
}

.review_table {
    color: #555;
    padding: 20px 0;

    ul {
        list-style: none;
        padding: 10px 0;
        display: flex;
        border-bottom: 1px solid #c5c5c5;

        li {
            &::after {
                content: "|";
                margin: 20px;
            }

            &:nth-child(4)::after {
                content: "";
            }
        }
    }

}

.review_list {
    width: 100%;
    padding: 30px 0;
    display: flex;

    img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        width: 36px;
        height: 36px;
    }

    border-bottom: 1px solid #c5c5c5;
}

.list_info {
    width: 85%;
    display: flex;
    flex-wrap: wrap;

    span {

        width: 100%;
        padding: 0 10px;
        line-height: 25px;

        &:nth-child(1) {
            color: #4aaf70;
        }

        &:nth-child(1)::after {
            content: "5";
            color: #333;
            font-weight: bold;
            margin: 10px;
        }

        &:nth-child(3) {
            padding: 20px 0;
        }
    }
}

//탭 추천 슬라이드
#tab_gooditems {
    width: 100%;
    height: 100%;

    h3 {
        padding: 15px 0;
    }
}

.goodItems_wrap {
    width: 100%;
    padding: 50px 0;
}

.goodItems_slide {
    width: 100%;
    height: 365px;
    padding: 15px;
    border: 1px solid rgb(197, 197, 197);
    position: relative;

    .swiper-slide {
        display: flex;
        flex-direction: column;

        img {
            width: 100%;
            height: 90%;
            border-radius: 10px;
            box-shadow: 3px 3px 5px #aaaaaa;
        }

        .good_text {
            width: 60%;
            margin: 0 auto;
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        h6 {color: #333;}
        p {color: #888;
            font-size: 14px;
        }
    }

    .swiper-button-next {
        right: -13px;
    }

    .swiper-button-prev {
        left: -13px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        background-color: white;
        color: #888;
        border-radius: 20px;
        box-shadow: 2px 1px 3px #838383;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-size: 1.1rem !important;
        font-weight: 600 !important;
    }
}

//테마
.theme_wrap {
    width: 100%;
    margin-bottom: 150px;
}

.theme {
    width: 100%;

    h4 {color: #333;}
    p {color: #686868; font-size: 13px;
    line-height: 25px;}
}

.theme_text {
    display: flex;
    padding: 20px 0;

    .theme_logo {
        img {
            width: 36px;
            height: 36px;
            margin: 5px 5px;
            border-radius: 50%;
        }
    }

}

.theme_book {
    width: 95%;
    height: 100%;
    margin-left: 4.3%;
    display: flex;
    justify-content: space-between;

    img {
        width: 118px;
        height: 177px;
        border-radius: 10px;
        box-shadow: 3px 3px 3px rgb(187, 187, 187);
    }
}


// 탭 교환반품환불

#tab_return {
    width: 100%;
    font-size: 14px;
    margin-bottom: 150px;

    h3 {padding: 10px 0;}
    table {
        font-size: 13px;

        td {
            padding: 20px 0 20px 20px;
            line-height: 20px;
            border-bottom: 1px solid #888;
            border-top: 1px solid #888;
        }

        tr>td:nth-child(1) {
            background-color: #f8f8f8;
            text-align: center;
        }

        tr>td:nth-child(2) {
            color: #555;
        }
    }
}

// 컨텐츠 결제창

#content_payment_wrap {
    width: 279px;
    margin-top: 20px;
    margin-left: 70px;
   
  
}

.content_payment {
    padding: 30px 10px;
    border: 1px solid #bdbdbd;
    position: sticky;
    top: 50px;
}

.payment_img {
    display: flex;
    padding: 10px 10px;
    border-bottom: 1px solid #555;

    img {
        width: 80px;
        height: 110px;
        margin-right: 10px;
    }
}

.payment {
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    border-top: 1px solid #777;
}

.payment_count {
    display: flex;

    input {
        width: 30px;
        text-align: center;
        padding: 5px;
    }

    button {
        width: 25px;
        padding: 3px;
    }
}

.payment_price {
    font-size: 18px;
    color: rgb(199, 12, 12);
}

.payment_value {font-weight: bold;}