

.view_wrap {
    min-width: 1280px;
    height: 100%;
    position: relative;
}

.container {
    width: 1060px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 110px;
}

//MD추천
.md_btn {border: 1px solid #4aaf70;
    color: #4aaf70;}

// 페이먼트 버튼
.payment_btn {
    width: 100%;
}

.payment_cart,
.payment_buy,
.payment_now {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-radius: 8px;
}

.payment_cart {
    border: 1px solid #888;
}

.payment_buy {
    background-color: #4aaf70;
    border: 1px solid #888;
    color: #fff;
}

.payment_now {
    border: 1px solid darkred;
    color: darkred;
}

//태그
.tag {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    
        li {
            font-size: 12px;
            padding: 0 10px;
            margin-right: 3px;
            color: gray;
            border: 1px solid #9ea7ad;
            border-radius: 13px;
        }
}

// 스와이프
html,
body {
    position: relative;
    height: 100%;
}

body {

    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


//베스트셀렉
#aside_bestSel {
    z-index: 5;
    position: absolute;
    top: 40px;
    right: calc(100% - 100px);
    width: 130px;
    height: 370px;

    .bestSel {
        width: 100%;
        height: 153px;
        padding-top: 13px;
        margin-bottom: 22px;
        box-shadow: 6px 3px 20px 0 rgba(0, 0, 0, 0.08);
        ;
        background-color: bisque;
    }

    background-color: aqua;
}

// 최근 본 상품
#aside_view {
    z-index: 5;
    position: absolute;
    top: 40px;
    left: calc(100% - 100px);
    width: 92px;
    height: 268px;
    background-color: aqua;
}

// 북헤드
.book_head {
    position: relative;
    margin: 0 auto;

    ul,
    li,
    ol {
        list-style: none;
    }
}

//북 디테일
#book_detail {
    display: flex;
    height: 100%;
}

//디테일 왼쪽
#detail_left {
    padding: 20px 0;

    .left_img {
        width: 400px;
        height: 500px;
        img {width: 100%; height: 100%;}
        background-color: rgb(230, 230, 230);
    }

    .left_interactive {
        width: 100%;
        padding: 20px;
        text-align: center;
        border-bottom: 1px solid #8d8d8d;
        span {color: #727272;
            cursor: pointer;
        &:nth-child(1)::after {content: "|"; margin: 30px;}}
    }

    .left_tag {padding: 20px 0;
    h5 {padding: 20px 0;}}
}

//디테일 오른쪽
#detail_right {
    margin-left: 10px;
    .payment_btn {
        display: flex;
        justify-content: space-between;
    }
}

.right_benefit {width: 100%;
h5 {padding: 10px 0;}}
.benefit_table{width: 100%;
td {font-size: 14px;
span {font-size: 14px; padding: 10px;}}}

.member_box {width: 100%;}

.right_delivery {width: 100%;
    h5 {padding: 20px 0;}}

.delivery_table {width: 100%;
    font-size: 14px;
    
    td {padding: 5px;}
    tr>td:nth-child(1) {
    width: 80px;
    line-height: 30px;}

    button {padding: 5px 5px; font-size: 12px;
    background:none; 
border: 1px solid;
margin-right: 5px;
color: green;
}
}
//서브 네비
#sub_nav_wrap {
    width: 100%;
    z-index: 20;

    ul,
    li,
    ol {
        list-style: none;
    }

    ul {
        display: flex;
        justify-content: space-between;

        li {
            padding: 20px 0;
        }
    }
    background-color: rgb(228, 228, 228);
}
.scroll { position: fixed;
top:0; }

// 탭_랩
.content_wrap { 
    width: 1060px;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;}

// 탭 오른쪽 디테일 컨텐츠
.container_detail {
    width: 720px;
}


//책 상세정보
#tab_contents {
    max-width: 1280px;
}

//상세보기 믹스인
@mixin detail_paading {
    width: 100%;
    padding: 60px 0;
    border-bottom: 1px solid rgb(207, 207, 207);
    width: 100%;
    position: relative;
    h2 {padding: 20px 0;}
}


// 탭
.detail_info {
    @include detail_paading;
}

// 상품규격
.detail_table {
    width: 100%;
    border: 1px solid gray;

    tr>td:nth-child(1) {
        width: 20%;
        text-align: center;
        background-color: gray;
    }

    td {
        padding: 10px 8px;
    }
}

//이벤트 슬라이드
.detail_event {
    @include detail_paading;
}

.event_slide {
    width: 100%; height: 477px;
    padding: 50px 0;
    position: relative;

    .swiper-wrapper {height: 90%;}
    .swiper-slide {
        padding: 20px 0;
        display: flex; 
        flex-direction: column;
        align-content: space-between;
        font-size: 14px;
       img{height: 60%;}
       
       p{width: 100%;
        line-height: 30px;
        text-align: left;
        color: #444;}
    }

    .swiper-button-next {right: -10px;}
    .swiper-button-prev {left: -10px;}

    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        background-color: white;
        color: #888;
        border-radius: 20px;
        box-shadow: 2px 1px 3px #838383;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-size: 1.1rem !important;
        font-weight: 600 !important;
    }
}

.event_btn {
    margin: 15px -4px;
    padding: 5px 10px;
    align-self: flex-start;
    background-color: #0067cb;
    border: none;
    color: #eee;
}

//탭 책 상세보기
.detail_intro {
    width: 100%; 
}
.more_btn , .more_col_btn {cursor: pointer;
    font-size: 14px; color: #686868;
    padding: 10px 20px; 
    border-radius: 20px;
    border: 1px solid #a1a1a1;
    position: absolute;
    right: 0;
    bottom: 10px;
}

.book_content {line-height: 30px; font-size: 14px;
margin-top: 10px; padding: 20px 0;}

.book_content::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 150px;
    background: linear-gradient(rgba(255, 255, 255, 0), white);
    left: 0;
    bottom: 0;}

//책 소개
.book_intro {
    @include detail_paading;
    height: 300px;
    overflow: hidden;    
}

//목차
.book_index {
    @include detail_paading
}

//분야
.book_field {
    @include detail_paading
}

//서평
.book_columns {
    @include detail_paading;
    height: 300px;
    overflow: hidden;

    img {width: 80%; }
    p {font-size: 13px; line-height: 20px; color: #555;}
}

//작가소개
.book_author {
    @include detail_paading;
}

//탭 리뷰

#tab_review {
    padding: 50px 0;
    h2 {padding: 20px 0;}
position: relative;
span {color: #555;}}

.r_btn {
    position: absolute;
    right: 0;
    top: 100px;
    color: #eee;
    border: none;
    background-color: #4aaf70;
    padding: 10px 20px;
    border-radius: 10px;}

.review_table {
    color: #555;
    padding: 20px 0;
ul {list-style: none;
    padding: 10px 0;
    display: flex;
    border-bottom: 1px solid #c5c5c5;
 li {
&::after {content: "|"; margin: 20px;}
&:nth-child(4)::after {content: "";}}}

}

.review_list {
width: 100%;
padding: 30px 0;
display: flex;

img {width: 36px; height: 36px;
    border-radius: 50%; width: 36px; height: 36px;
}
border-bottom: 1px solid #c5c5c5;
}

.list_info {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
span {
    
    width: 100%;
    padding: 0 10px; line-height: 25px;
    &:nth-child(1) {color: #4aaf70;}
    &:nth-child(1)::after {content: "5"; color: #333; font-weight: bold; margin: 10px;}
&:nth-child(3) {
    padding: 20px 0;}}
}

//탭 추천 슬라이드
#tab_gooditems {
    width: 100%;
    height: 100%;

    h3 { padding: 15px 0;}
}

.goodItems_wrap {
    width: 100%;
    padding: 50px 0;
}

.goodItems_slide {
    width: 100%;
    height: 365px;
    padding: 15px;
    border: 1px solid rgb(197, 197, 197);
    position: relative;

    .swiper-slide {
    display: flex;
    flex-direction: column;

img {width: 100%; height: 90%;
border-radius: 10px;
box-shadow: 3px 3px 5px #aaaaaa;}

.good_text { 
    width: 60%;
    margin: 0 auto;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;}
p {font-size: 14px;}
}

.swiper-button-next {right: -13px;}
.swiper-button-prev {left: -13px;}

    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        background-color: white;
        color: #888;
        border-radius: 20px;
        box-shadow: 2px 1px 3px #838383;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-size: 1.1rem !important;
        font-weight: 600 !important;
    }
}

//테마
.theme_wrap {
    width: 100%;
    padding-bottom: 80px;
}

.theme {
    width: 100%;
}

.theme_text {
    display: flex;
    padding: 20px 0;

    .theme_logo {
        img {
            width: 36px;
            height: 36px;
            margin: 5px 5px;
            border-radius: 50%;
        }
    }
 
}

.theme_book {
    width: 95%;
    height: 100%;
    margin-left: 4.3%;
    display: flex;
    justify-content: space-between;

    img {
        width: 118px;
        height: 177px;
        border-radius: 10px;
        box-shadow: 3px 3px 3px rgb(187, 187, 187);   
    }
}


// 탭 교환반품환불

#tab_return {
    width: 100%;
    margin-bottom: 150px;
    font-size: 14px;
    table {
        font-size: 13px;

        td {
            padding: 20px 0 20px 20px;
            line-height: 20px;
            border-bottom: 1px solid #888;
            border-top: 1px solid #888;
        }

        tr>td:nth-child(1) {
            background-color: #f8f8f8;
            text-align: center;
        }

        tr>td:nth-child(2) {
            color: #555;
        }
    }
}

// 컨텐츠 결제창

#content_payment_wrap {
    background-color: brown;
    width: 279px;
    margin-left: 70px;
}

.content_payment{padding: 20px;}

.payment_img {
    display: flex;

    border-bottom: 1px solid #555;

    img {
        width: 60px;
        height: 90px;
        padding-bottom: 20px;
    }
}

.payment_count {
    display: flex;

    input {
        width: 30px;
        text-align: center;
        padding: 5px;
    }

    button {
        width: 25px;
        padding: 3px;
    }
}

.payment_price {
    font-size: 18px;
    color: rgb(199, 12, 12);
}